<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/calendar" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Calendar</h2></a>
<a href="{{ "/server" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Server</h2></a>
<!--
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
-->
